body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.opciones .menuVertical {
    display: none;
    position: absolute;
    min-width: 160px;
    background: transparent;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: rgba(0, 0, 40, 0.75);
}

.opciones .menuVertical a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0;
    margin-right: 30px;
}

.opciones .menuVertical a:hover {
    background-color: #f1f1f1;
    color: black;
}

/* Oculta el menú vertical por defecto */
.opciones .menuVertical:not(.show) {
    display: none;
}

/* Muestra el menú vertical como bloques, uno debajo del otro */
.opciones .menuVertical.show {
    display: block !important;
}

.opciones .menuVertical .menu-item {
    /* Eliminamos el margen izquierdo solo para el elemento con clase "menu-item" */
    margin-left: 0;
}

/* Muestra el menú vertical solo cuando se pasa el mouse sobre dropdown-toggle */
.opciones .dropdown:hover .menuVertical {
    display: block;
}

.opciones .dropdowns:hover .menuVertical {
    display: block;
}


.opciones {
    position: fixed;
    width: 100%;
    height: 70px;
    background: transparent;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: rgba(0, 0, 40, 0.75);
}

.opciones ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
}

.opciones ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.opciones ul li a:hover {
    font-size: 22px;
    transition: .3s;
}

.opciones button {
    border: none;
    background: blue;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .3s;
    margin-right: 20px;
}

.opciones button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.banner {
    position: relative;
    widows: 100%;
    height: calc(108vh - 50px);
    background-image: url(./sources/graduado.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;

}

.frase {
    width: 600px;
    height: 254px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.shadow {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(190, 190, 190),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.prom{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 40px;
    margin-left: 20px;
    margin: 0 auto;
}

.promo {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(0);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-right: 20px;
    margin-bottom: 20px;
    
  }
  
  .promo:hover {
    border: 1px solid black;
    transform: scale(1.05);
    backdrop-filter: blur(6px);
  }
  
  .promo:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  h1{
    margin-left: 20px; 
  }

 /* Estilos para pantallas más pequeñas que 600 píxeles de ancho */
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;    
    }

    .frase{
        width: 300px;
        height: 500px;
    }

    .promo{
        width: 200px;
        height: 164px;
        
    }

    
}

::-webkit-scrollbar {
    width: 0.6rem;
    background: #111827;
}

::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 5rem;
}


.container__footer{
    max-width: 1200px;
    margin: 0 auto;

}

.footer{
    background-color: black;
    padding: 50px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
   width: 25%;
   padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #0003cc;
    padding-bottom: 10px;
    display: inline-block;
}


.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;


}


.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}



.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 400px;
  background-color: #333;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all .5s ease;
}

.derechos{
    color: white;
    text-align: center;
    
}

.social-links a:hover{
background-color: #1d00a0;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }


    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}
