/* estilo general de la pagina */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}



/* opciones de estilo para la barra de navegacion */
.opciones {
  position: fixed;
  width: 100%;
  height: 70px;
  background: transparent;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: rgba(0, 0, 40, 0.75);
}

.opciones ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
}

.opciones ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.opciones ul li a:hover {
  font-size: 22px;
  transition: .3s;
}

/* estilo para el menu desplegable */
.opciones .menuVertical {
  display: none;
  position: absolute;
  min-width: 160px;
  background: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: rgba(0, 0, 40, 0.75);

}

.opciones .menuVertical a {
  color: rgb(255, 255, 255);
  padding: 12px 0;
  text-decoration: none;
  display: block;
  margin-left: 0;
  margin-right: 30px;
}

.opciones .menuVertical a:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Oculta el menú vertical por defecto */
.opciones .menuVertical:not(.show) {
  display: none;
}

/* Muestra el menú vertical como bloques, uno debajo del otro */
.opciones .menuVertical.show {
  display: block;
  margin-top: 10px !important;
  position: absolute;
}

/* Muestra el menú vertical solo cuando se pasa el mouse sobre dropdown-toggle */
.opciones .dropdown:hover .menuVertical {
  display: block;
}

.opciones .dropdowns:hover .menuVertical {
  display: block;

}

/* estilos del boton de la barra de navegacion */
.opciones button {
  border: none;
  background: blue;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .3s;
  margin-right: 20px;
}

.opciones button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* tamaño del logo */
.logo {
  height: 70px;
  width: auto;

}

/* imagen de la escuela como banner */
.banner {
  position: relative;
  widows: 100%;
  height: calc(60vh - 50px);
  background-image: url(../Nosotros/sources/imagen-principal.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;

}

/* espacio de separacion entre el contenido y los bordes
de las secciones quienes somos y historia */
.sect1,
.sect3 {
  padding: 20px;
}

/* color del titulo quienes somos e historia*/
h1 {
  color: rgb(2, 56, 119);
}

/* linea debajo de los titulos quienes somos e historia */
h1.underline {
  position: relative;
  display: inline-block;
}

h1.underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 4px;
  border-radius: 20px;
  background-color: rgb(36, 156, 242);
}

/* estilo de la seccion quienes somos  */
.sect1-content {
  display: flex;
  justify-content: space-between;
}

/* estilo des espacio de texto de quienes somos */
.text-box {
  flex: 1;
  padding: 20px;
}

/* video de youtube sobre la emma */
.video-box {
  flex: 1;
  padding: 20px;
}

/* estilo del parrafo quienes somos */
.text-box p {
  color: rgb(99, 99, 99);
  font-size: 20px;
}

/* estilo de la seccion de mision vision y valores */
.sect2 {
  display: flex;
  flex-direction: column;
}

/* estilo de los cuadros mision vision valores */
.box,
.box1 {
  width: 50%;
  height: 500px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  padding: 50px 80px;
}

/* estilo del texto mision vision valores */
.box1,
.box {
  font-size: 30px;
}

.box,
.box1 p {
  font-size: 30px;
}



.box {
  background-color: rgb(2, 56, 119);
}

.box1 {
  background-color: rgb(36, 156, 242);
  margin-left: 50%;
}

h2,
p {
  margin: 0;
}

.container__footer{
    max-width: 1200px;
    margin: 0 auto;

}

.footer{
    background-color: black;
    padding: 50px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
   width: 25%;
   padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #0003cc;
    padding-bottom: 10px;
    display: inline-block;
}


.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;


}


.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}



.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 400px;
  background-color: #333;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all .5s ease;
}

.derechos{
    color: white;
    text-align: center;
    
}

.social-links a:hover{
background-color: #1d00a0;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }


    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}
